/*elementPlus 需要全局重写的样式可以在这里统一定义覆盖*/
body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 12px;
    font-family: 'Microsoft YaHei', system-ui, sans-serif;
}

.el-menu {
    border-right: none !important;
}

/*各个子菜单之间的分割线颜色*/
.el-sub-menu:not(.menu-level2) {
    border-top: 1px solid #404141;
}

.el-sub-menu:last-child:not(.menu-level2) {
    border-bottom: 1px solid #404141;
}


/*菜单标题的样式*/
.el-sub-menu__title {
    font-size: 13px !important;
    height: 40px !important;
    line-height: 40px !important;
    vertical-align: middle !important;
    color: #f3f6fb !important;
}

/*菜单item的样式：最底层可被点击打开的菜单样式*/
li.el-menu-item:not(.menu-level1) {
    font-size: 12px;
    height: 34px !important;
    line-height: 34px !important;
    vertical-align: middle !important;
    background-color: #292a2d;
}

/*菜单item的样式: 当只有一级菜单时在最外层的样式*/
li.el-menu-item.menu-level1 {
    font-size: 13px !important;;
    height: 40px !important;
    line-height: 40px !important;
    vertical-align: middle !important;
    background-color: #1d1e23;
    border-top: solid 1px #404141;
}

.el-sub-menu [class^="el-icon-"] {
    vertical-align: -1px !important;
}

/*二级子菜单的背景样式*/
li.el-sub-menu.menu-level2 div {
    background-color: #232427 !important;
}

/*菜单选中样式*/
li .is-active {
    background-color: #2d8cf0 !important;
    color: white;
}

/*所有的table表头统一加一个淡淡的灰色背景*/
table.el-table__header > thead > tr > th.el-table__cell {
    background-color: #f8f8f9 !important;
}

span.el-dialog__title {
    font-size: 14px;
}

.el-message {
    left: 90%
}

a {
    text-decoration: none;
}