/*elementPlus 需要全局重写的样式可以在这里统一定义覆盖*/
body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*overflow: hidden;*/
    font-size: 12px;
    font-family: 'Microsoft YaHei', system-ui, sans-serif;
}

.el-menu {
    border-right: none !important;
}

/*各个子菜单之间的分割线颜色*/
.el-sub-menu:not(.menu-level2) {
    border-top: 1px solid #404141;
}

.el-sub-menu:last-child:not(.menu-level2) {
    border-bottom: 1px solid #404141;
}

.el-sub-menu .el-sub-menu__icon-arrow{
    right:-90px !important;
}
/*菜单标题的样式*/
.el-sub-menu__title {
    font-size: 13px !important;
    width:225px !important;
    height: 40px !important;
    line-height: 40px !important;
    vertical-align: middle !important;
    color: #f3f6fb !important;
}

/*菜单item的样式：最底层可被点击打开的菜单样式*/
li.el-menu-item:not(.menu-level1) {
    font-size: 12px;
    height: 34px !important;
    line-height: 34px !important;
    vertical-align: middle !important;
    background-color: #292a2d;
}

/*菜单item的样式: 当只有一级菜单时在最外层的样式*/
li.el-menu-item.menu-level1 {
    font-size: 13px !important;;
    height: 40px !important;
    line-height: 40px !important;
    vertical-align: middle !important;
    background-color: #1d1e23;
    border-top: solid 1px #404141;
}

.el-sub-menu [class^="el-icon-"] {
    vertical-align: -1px !important;
}

/*二级子菜单的背景样式*/
li.el-sub-menu.menu-level2 div {
    background-color: #232427 !important;
}

/*二级背景鼠标热点样式*/
div.el-sub-menu__title:hover {
    background-color: #20242a !important;
    color: #d0d0d6  !important;
}
/*一级背景鼠标热点样式*/
li.el-sub-menu.menu-level2 div:hover {
    background-color: #20242a !important;
}

li.el-sub-menu.menu-level2 div{
    border-top: #404141 solid 1px;
}

/*菜单选中样式*/
li .is-active {
    background-color: #2d8cf0 !important;
    color: white;
}

/*菜单热点背景颜色  */
li.el-menu-item:hover {
    background-color: #38404a;
}


/*所有的table表头统一加一个淡淡的灰色背景*/
table.el-table__header > thead > tr > th.el-table__cell {
    background-color: #f8f8f9 !important;
}

/*对话框的标题全局统一修改为 14px */
span.el-dialog__title {
    font-size: 14px;
}

/*消息提示样式统一规定在右侧展示*/
.elMessageStyle {
    left: calc(100% - 120px);
    min-width: 240px;
    text-align: center;
}

div.elMessageStyle.el-message--success {
    border: solid 1px rgba(66, 160, 66, 0.5);
}

div.elMessageStyle.el-message--error {
    border: solid 1px rgba(231, 18, 18, 0.5);
}

/*drawer 抽屉组件头高度统一减小*/
header.el-drawer__header {
    margin: 4px 20px;
    display: flex;
    align-items: center;
    padding: 4px 0 12px 0;
    border-bottom: solid 1px #f1f1f1;
    height: 40px;
}

/*抽屉标题样式字体*/
header.el-drawer__header * {
    font-size: 13px;
}

/*抽屉内容区域*/
div.el-drawer__body {
    margin: 0 20px;
    padding: 0;
}

div.el-drawer__body * {
    font-size: 12px;
    vertical-align: middle;
}

/*抽屉footer区域填充样式*/
div.el-drawer__footer {
    margin: 0 20px;
    border-top: solid 1px #f1f1f1;
    padding: 10px 0;
}

label.el-form-item__label:after {
    content: ":";
}

div.el-select {
    width: 100%;
}

/*树形列表字体设置*/
span.el-tree-node__label {
    font-size: 12px;
}

/*对话框紧凑化*/
header.el-dialog__header {
    padding: 6px 6px
}

div.el-dialog__body {
    padding: 6px 10px;
    font-size: 13px;
}

/*table表格查询按钮层样式*/
.tableList-area {
    padding-left: 4px;
}

.toolBanner {
    display: flex;
    align-items: center;
    padding: 2px 0 6px 2px;
}

/*分页样式全部底部居中*/
.paging-area {
    margin: 6px 0 2px 0;
    text-align: center;
    vertical-align: middle;
}

/*权限分析、分配界面自定义图标样式*/
.tree-node {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
}

span.tree-node * {
    vertical-align: middle;
}

.tree-node-title {
    padding-left: 6px;
}

span.el-tree__empty-text {
    font-size: 12px;
}

/*表单尾部追加的图标确保均匀分布*/
div.el-input-group__append, div.el-input-group__prepend {
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
}

.el-button--small {
    padding: 4px 4px;
}

a {
    text-decoration: none;
}

.auth-list-title {
    width: 99%;
    border-bottom: 1px solid #f1f1f1;
    margin: 5px 7px;
    padding-bottom: 4px;
}

/*抽屉界面横向滚动条隐藏*/
div.el-drawer div.el-drawer__body {
    overflow-x: hidden;
}
